@using TextUml.Extensions
@using TextUml.Models
@model PagedQueryResult<DocumentRead>
@section Header {
  @Html.Partial("Header")
}
<div id="content">
  <div id="sidebar" class="splitter-pane">
    @Html.Partial("Examples")
  </div>
  <div id="main" class="splitter-pane" role="main">
    <div class="splitter-pane">
      @Html.Partial("Editor")
    </div>
    <div class="splitter-pane">
      @Html.Partial("Canvas")
    </div>
  </div>
</div>
@{ Html.IncludeClientViews(); }
@section Scripts {
  @if (Context.IsDebuggingEnabled) {
    <script src="~/Scripts/jquery-1.10.1.js"></script>
    <script src="~/Scripts/require.js"></script>
  } else {
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.8/require.min.js"></script>
  }
  <script>
    define('jquery', function() {
      return jQuery;
    });
    define('preloaded-data', function() {
      return {
        userSignedIn: @Request.IsAuthenticated.ToString().ToLowerInvariant(),
        documents: @Html.Raw(Model.ToJson())
      };
    });
    @if (Context.IsDebuggingEnabled) {
      <text>
        require(['@Url.Content("~/Scripts/config.js")'], function() {
          require(['@Url.Content("~/Scripts/main.js")']);
        });
      </text>
    } else {
      <text>
        require(['@Url.Content("~/Scripts/app.js")'], function(){
          require(["main.js"]); 
        });
      </text>
    }
  </script>
}