@functions {
  string PageTitle() {
    
    var title = ViewBag.Title ?? string.Empty;

    if (!string.IsNullOrWhiteSpace(title)) {
      title += " - ";
    }

    title += "Text Uml";

    return title;
  }
}
<!DOCTYPE html>
<html lang="en">
<head>
  @Html.Partial("Head")
  @RenderSection("Scripts", false)
  <title>@Html.Raw(PageTitle())</title>
</head>
<body>
  @Html.Partial("Flashbar")
  @RenderSection("Header", false)
  @RenderBody()
  @Html.Partial("Footer")
  @Html.Partial("GitHubRibbon")
</body>
</html>